<div class="container-fluid">
    <div class="card mb-3">

        <!-- Header  -->
        <div class="card-header">
            <h3><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;Tipos de eventos</h3>
            <button style="float: right;" (click)="openModalRegistrar()" type="button" class="btn btn-info btn-sm"> Agregar tipo de evento <i class="fas fa-id-card"></i>
            </button>
        </div>

        <!-- Body  -->
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tipoEvento of tiposEvento">
                        <td class="text-center">{{ tipoEvento.nombre }}</td>
                        <td class="text-center">{{ tipoEvento.descripcion }}</td>
                        <td>
                            <div>
                                <button (click)="openModalActualizar(tipoEvento)" type="button" class="btn btn-primary">Editar <i class="fas fa-edit"></i></button>
                                &nbsp;&nbsp;
                                <button (click)="deleteTipoEvento(tipoEvento.id)" type="button" class="btn btn-danger">Eliminar <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br>

<div class="modal" id="tipoEventoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{modalTipoEventoTitle}} Tipo de evento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="tipoEventoForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="nombre">Nombre<span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre del tipo de evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripcion<span class="text-danger">*</span></label>
                        <textarea rows="3" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"></textarea>
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                        <div *ngIf="f.descripcion.errors.required">La descripción es obligatoria</div>
                        </div>
                    </div>
    
                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>
                    <div>
                        <button class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button (click)="cerrarModal()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        
        </div>
    </div>
</div>