html{
  font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px  **/
}


body{
  font-family: 'Roboto Mono', monospace;

}


/** Globales **/
img{
  max-width: 80%;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto ;
}
.content{



}





h1{
  font-size: 3rem;

}

h2{
  font-size: 2.5rem;

}
h3{
  font-size: 2rem;

}
h4{
  font-size: 1.8rem;

}

/** Utilidades */

.seccion{
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.fw-300{
  font-weight: 300;
}
.centrar-texto{

  text-align: center;
}

.d-block{
  display: block!important;/** No usar simpre o mucho important*/
}


/** Botones**/
.boton{
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin: 3rem;
  display: inline-block;
  text-align: center;

}
.boton-amarillo{
  background-color: orange;

}
.boton-verde{
  background-color: green;

}

/*Header*/
.site-header{
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}



.site-header.inicio{
  background-image: url(../../../assets/fondo.jpg);

  background-position: center center;
  background-size: cover;
  height:  100vh;


}

.contenido-header{
  height: 100%;
  display: flex;

  justify-content: space-between;

}

.contenido-header h1{

  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1.5;
}
.barra{

  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 3rem;


}

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.0rem;
  margin: 2rem;

}
.navegacion a :hover{
  color: rgb(4, 99, 67);
}
.navegacion a :last-of-type{
  margin: 0;
}
/** Iconos nosotros*/


.iconos-nosotros{
  display: flex;
  justify-content: space-between;
  margin-right:30px ;
}
.icono{
  flex-basis:calc(33.3%- 1rem);
  text-align: center;
}
.icono h3{
  text-transform: uppercase;
}
/**Anuncios*/
.contenedor-anuncios{
  display: flex;
  justify-content: space-between;
}
.anuncio{
  flex-basis:calc(33.3% - 1rem) ;

  border: 1px solid  #b5b5b5;
  background-color: #f5f5f5;
}
.contenido-anuncio{
  padding: 2rem;
}
.contenido-anuncio h3 , .contenido-anuncio p {
  margin: 0.5;
}
.precio{
  color:green;
  font-weight: 700;
}
.icono-caracteristicas{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;


}
.icono-caracteristicas li{

  display: flex;
}
.icono-caracteristicas li img{
  margin-right: 1rem;
}

.ver-todas{
  display: flex;
  justify-content: flex-end;
}



.entrada-blog{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.entrada-blog:last-of-type{
  margin-bottom: 0;
}
.entrada-blog .imagen{
  flex-basis: 40%;
}
.entrada-blog .texto-entrada {
  flex-basis: calc(60% - 3rem);
}
.texto-entrada a {
  color: black;
  text-decoration: none;

}
.texto-entrada h4{

  margin: 0;
  line-height: 1.4;
}

.texto-entrada h4::after {
  content: '';
  display: block;
  width: 15rem;
  height: .5rem;
  background-color: green;
  margin-top: 1rem;
}

.texto-entrada span {
  color: orange;
}
/** Testimoniales **/


/** Footer*/
.site-footer{
  background-color: #333333;
  margin: 0;
}
.contenedor-footer{
  padding: 2rem 16px;
  display: flex;
  justify-content: space-between;
}
.copyright{
  margin: 0;
  color: white;
}

/** INTERNAS**/
